@import "bootstrap";
@import 'products';

.add_product {
  input {
    display: inline;
  }
}

.btn {
	margin-bottom: 10px;
}

td, th {
	padding: 5px;
}

table {
	margin-bottom: 20px;
}

a {
	margin-right: 10px;
}
